/* Common food components (Use for rendering and search of food items)*/

.FoodSearchItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  background-color: #9cec8c;
  border: 1px solid black;
  border-radius: 8px;
}

.FoodSearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FoodSearchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px;
  margin-bottom: 6px;
  background-color: #9cec8c;
  border: 1px solid black;
  border-radius: 8px;
}

.FoodSearchItemTitle {
  text-align: center;
  margin-left: 12px;
  margin-bottom: 3px;
  font-size: 13p;
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
  /* text-transform is a css only fix to the issue of the names being lower case but for the sake of this project, its not exactly relevant */
}

.foodSearchItemButtonColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodItemImage {
  height: 10vmax;
  width: 10vmax;
  margin-right: 12px;
}

.foodItemPlaceholderImage {
  height: 9vmax;
  margin-right: 12px;
}

/* Search container */
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #9cec8c;
  border: 2px solid black;
  border-radius: 8px;
}

.searchBar {
  background: #f2f1f9;
  border: 2px solid black;
  border-radius: 4px;
  font-size: large;
  padding: 0.5rem;
}

.searchTitleLabel {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.searchResultsPlaceholderLabel {
  text-align: center;
  align-items: center;
  margin-right: 12px;
  font-size: 13pt;
  font-style: italic;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Content (Container for search results and nominations)  */
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.contentListContainer {
  width: 49%;
}

.contentListHeader {
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  background-color: #108043;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}
