.selectionsColumn {
  display: flex;
  flex-direction: column;
}

.statsRow {
  display: flex;
  flex-direction: row;
}

.selectionsRow {
  white-space: nowrap;
  overflow: auto;
  
  background-color: #9cec8c;
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
}

.selectionsRowSingle {
  display: inline-block;
  float: none;
}

.selectionText {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.selectionButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
