.selectionsColumn {
  display: flex;
  flex-direction: column;
}

.statsRow {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.selectionsRow {
  white-space: nowrap;
  overflow: auto;
  background-color: #ccccff;
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
}

.selectionsRowSingle {
  display: inline-block;
  float: none;
  margin-right: 12px;
}

.selectionText {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.selectionTitle {
  text-align: center;
  font-weight: 800;
  text-decoration: underline;
}

.selectionDesc {
  white-space: pre-line;
  text-align: center;
  font-weight: 800;
}

.emptyStateImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectionButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.selectionItemImage {
  height: 12vmax;
  width: 12vmax;
  border-radius: 12px;
  border: 0.5px solid black;
}
